/* //download */
/* heading  */
/* @font-face {
    font-family: "Dancing_Script" ; 
    src: url(./assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

/* para */
/* @font-face {
    font-family: "Acme";
    src: url(./assets/fonts/Acme/Acme-Regular.ttf);
} */ 

/* @font-face {
    font-family: "kumar";
    src: url("./assets/fonts/Kumar_One_Outline/KumarOneOutline-Regular.ttf");
} */

h1{
    font-family: "Kumar One Outline";
    text-shadow: -100px 100px 10px red ;
    /* font-family: "kumar"; */
    /* font-family:"Dancing_Script" ; */
    /* font-family: sans-serif */
    
    /* color: red; */
    /* color: rgb(8, 204, 129); */
    /* color: #ff3400; */
    /* color:  hsl(190, 50%, 20%); */ 
    /* background-color: rgba(red, green, blue, alpha); */
    /* background-color:hsla(hue, saturation, lightness, alpha) */
}
h3{
    font-family: "Rubik Beastly";
}
h4{
    /* font-family: "Pacifico"; */
    font-style: italic;
    text-transform: capitalize;
    text-decoration: line-through;
    word-spacing: 20px;
    text-shadow: -100px 100px 10px red ;

}
a{
    text-decoration: none;
}
img{
    width: 400px;
    height: 100px;
    vertical-align: middle;
}
h5{
    text-decoration: line-through;
    text-align: justify;
    color: yellow;
}
h2::first-letter{
    font-size: 100px;
    color: pink;

}
h2::first-line{
    background-color: aqua;
}
/* h2{
    display: inline;
} */

/* img{
    vertical-align: middle;
} */
a{
    color: rgb(255, 0, 208);
    font-size: 40px;
}
a:hover{
    color: rgb(58, 226, 43);
}
input{
    background-color: yellow;
}
input:focus{
    background-color: aqua;
}
input:active{
    background-color: rgb(142, 127, 255);
}
td{
    border: 1px solid yellow;
    empty-cells: hide;
}
